@{
    ViewData["Title"] = "Home Page";
}
@*@model FormBasics.Controllers.PersonModel*@

<div class="text-center">
    <form method="post">
        <input type="text" placeholder="Name" name="Name" />
        <input type="number" placeholder="Marks" name="Number" />
        <input type="text" placeholder="Address" name="Address" />
        <input type="number" placeholder="Contact Number" name="Phone" />
        <button type="submit">Submit</button>
    </form>
</div>
